/******************************************************************
Site Name: Cities & Ideas
Author: Gerard Clos

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 960px;
}

/*********************
HEADER STYLES
*********************/

.header {
	#inner-header {

		hgroup {
			img {
				float: left;
				margin: 1.5em 10px 1.5em 0;
			}
		}
	}
}

	#logo {
		font-size: 25px;
		font-weight: bold;
		float: left;
	}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	margin: 0;

	li {
		padding: 1.5em 0;
		float: left;
		position: relative;
		overflow: visible;

		a {
			font: {
				weight: bold;
				size: 14px;
				family: $arial;
			}
			text-transform: uppercase;
			border-bottom: 0;
			color: $navlink-color;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $navlink-hover;
			}
		}

		.indicator {
			left: 5%;
			visibility: hidden;
			position: absolute;
			height: 5px;
			width: (100% - 10%);
			bottom: 0;
			background-color: $forum-blue;
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			overflow: visible;
			top: 105%;
			background-color: white;
			margin-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;

			li {
				text-align: center;
				padding: 0;

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					color: gainsboro;

					&:hover,
					&:focus {
						background-color: $forum-blue;
						color: white;
					}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {color: black;}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {color: $black;}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FEATURED STYLES
*********************/

#featured {
	text-shadow: 0 1px 0 white;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	article {
		padding: 0 !important;
	}

	h1.featured-header {
		color: $forum-blue;
		text-align: center;		
		font: {
			size: 50px;
			family: 'Pacifico',sans-serif;
		}
	}

	p {
		font: {
			size: 24px;
		}

		&.share {
			text-align: center;
		}
	}
}

#button-container {
	text-align: center;

	#featured-button {
		text-transform: uppercase;
		font-family: $sans-serif;
		font-size: 24px;
		font-weight: bold;
		color: #fff;
		text-shadow: 0 1px rgba(0,0,0,.32);
		width: 160px;
		height: 50px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 25px;
		background-color: #50ac44;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.5), inset 0 0 5px rgba(255,255,255,.31);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.5), inset 0 0 5px rgba(255,255,255,.31);
		box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.5), inset 0 0 5px rgba(255,255,255,.31);
		border: solid 1px #3b8e31;
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
		background-image: -moz-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
		background-image: -o-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
		background-image: -ms-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
		background-image: linear-gradient(to bottom, rgba(255,255,255,.34), rgba(255,255,255,0));
	
		&:hover {
			box-shadow: none;
		}
	}
}


/*********************
SHARE YOU IDEA STYLES
*********************/

.page-template-shareyouridea-php #content {}

.page-template-shareyouridea-php article {
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 65%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(65%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	h1 {
		font-weight: 100;
	}
}

.page-template-shareyouridea-php .form-container {
	header {
		text-align: center;
		h1.form-header {
			color: $forum-blue;
			font: {
				size: 50px;
				family: 'Pacifico',sans-serif;
			}
		}
		
		p {font-size: 23px;}
	}

	.the-form {
		text-align: center;
		
		input, textarea {
			font-size: 24px;
			width: 80%;
			border: none;
			box-shadow: none;
			margin-bottom: 20px;
			border-radius: 5px;
			padding: 20px 20px 20px 60px;
			color: darken(#cdcdcd,50%);
			outline: none;

			&:last-child {
				margin-bottom: 0;
			}

			&:focus {
				@include transition(all 0.2s ease-in-out);
				// -webkit-box-shadow: inset 0 0 3px 3px darken(#fff,7%);
				// -moz-box-shadow: inset 0 0 3px 3px darken(#fff,7%);
				// box-shadow: inset 0 0 1px 3px 3arken(#fff,7%);
				border: 1px solid #ccc;
			}
		}

		.input-group {
			position: relative;
			margin-bottom: 20px; 
		}

		.textarea-group {
			@extend .input-group;
		}

		.submit-group {
			@extend .input-group;
			text-align: right;
			padding-right: 10%;
			margin-bottom: 0;
		}

		input {
			height: 70px;
		}

		#submit {
			color: white;
			text-shadow: 0 1px rgba(0,0,0,.32);
			font-weight: bold;
			width: 140px;
			height: 45px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: #50ac44;
			-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.5), inset 0 0 5px rgba(255,255,255,.31);
			-moz-box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.5), inset 0 0 5px rgba(255,255,255,.31);
			box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.5), inset 0 0 5px rgba(255,255,255,.31);
			border: solid 1px #3b8e31;
			background-image: -webkit-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
			background-image: -moz-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
			background-image: -o-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
			background-image: -ms-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
			background-image: linear-gradient(to bottom, rgba(255,255,255,.34), rgba(255,255,255,0));
			
			&:hover {
				box-shadow: none;
				background-image: none;
				background-color: #50ac44;
			}
		}

		.icon {
			font-size: 24px;
			color: lighten(#cdcdcd,10%);
			top: 15px;
			left: 84px;
			position: absolute;
		}

		//Styling placeholder
		::-webkit-input-placeholder {
			color: lighten(#cdcdcd,10%);
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: lighten(#cdcdcd,10%);
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: lighten(#cdcdcd,10%);
		}

		:-ms-input-placeholder {  
		   color: lighten(#cdcdcd,10%);
		}
	}
}

/*********************
OUR EXPERTS STYLES
*********************/

.page-template-ourexperts-php #main {
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	overflow: hidden;
	
	header {
		
		overflow: hidden;
		img {
			border-bottom: 1px solid #ccc;
			width: 100%;
		}						
		
		.post-meta {
			position: relative;
			width: 85px;
			height: 85px;
			-webkit-border-radius: 45px;
			-moz-border-radius: 45px;
			border-radius: 45px;
			background-color: #0090fd;
			margin: 0 auto;
			color: $white;
			text-align: center;
			margin-top: -42px;
			z-index: 1;
			
			.meta {
				display: inline-block;
				p {
					margin-top: 10px;
					font-size: 45px;
					color: white;
					font-weight: bold;
				}
			}
		}
	}

	article {
		
		h1 {
			text-transform: uppercase;
			line-height: 1.6em;
			text-align: center;
			color: black;
			font: {
				weight: 100;
				size: 45px;
			}
		}

		.experts-list {
			ul li {
				margin-bottom: 30px;
				text-align: center;
				
				h2 {
					font: {
						size: 18px;
						weight: 100;
					}
				}

				p {
					display: none;
				}

				.image-shadow {
					width: 80px;
					height: 80px;
					overflow: hidden;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					margin: 0 auto;

					a {
						img {
							width: 100%;
							height: auto;
						}
				}

					.inset {
						position: absolute;
						top: 0;
						-webkit-box-shadow: inset 0 0px 6px 4px rgba(0, 0, 0, 0.4);
						-moz-box-shadow: inset 0 0px 6px 4px rgba(0, 0, 0, 0.4);
						box-shadow: inset 0 0px 6px 4px rgba(0, 0, 0, 0.4);
						width: 80px;
						height: 80px;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
					}
				}
			}
		}
	}
}

/*********************
ABOUT STYLES
*********************/

.page-template-about-php #main {
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	overflow: hidden;

	header {
		
		overflow: hidden;
		img {
			border-bottom: 1px solid #ccc;
			width: 100%;
		}						
		
		.post-meta {
			position: relative;
			width: 85px;
			height: 85px;
			-webkit-border-radius: 45px;
			-moz-border-radius: 45px;
			border-radius: 45px;
			background-color: #0090fd;
			margin: 0 auto;
			color: $white;
			text-align: center;
			margin-top: -42px;
			z-index: 1;
			
			.meta {
				display: inline-block;
				p {
					margin-top: 10px;
					font-size: 45px;
					color: white;
					font-weight: bold;
				}
			}
		}
	}

	article header {
		h1 {
			line-height: 1.6em;
			color: black;
			font: {
					size: 42px;
					weight: 100;
				}
		}
	}

	.entry-content {
		font-size: 21px;

		ul {
			
		}
	}
}

/*********************
THE UNIVERSAL FORUM OF CULTURES STYLES
*********************/

.page-template-cityforum-php #main {
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	overflow: hidden;

	header {
		
		overflow: hidden;
		img {
			border-bottom: 1px solid #ccc;
			width: 100%;
		}						
		
		.post-meta {
			position: relative;
			width: 85px;
			height: 85px;
			-webkit-border-radius: 45px;
			-moz-border-radius: 45px;
			border-radius: 45px;
			background-color: #0090fd;
			margin: 0 auto;
			color: $white;
			text-align: center;
			margin-top: -42px;
			z-index: 1;
			
			.meta {
				display: inline-block;
				p {
					margin-top: 10px;
					font-size: 45px;
					color: white;
					font-weight: bold;
				}
			}
		}
	}

	article header {
		h1 {
			line-height: 1.6em;
			color: black;
			font: {
					size: 45px;
					weight: 100;
				}
		}
	}

	.entry-content {
		font-size: 21px;

		ul {
			
		}
	}
}

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

footer {

	.current-menu-item {
		a {color: #c5c5c5 !important;}
	}

	p {
		margin: 1.5em 0;
		padding: 10px !important;
	}
}

